<template>
  <div class="home-container">
    <div class="main-container">
      <div class="form-login">
        <h1>LOGIN</h1>
        <div v-if="submitted && !status" class="invalid-class">
          {{ message }}
        </div>

        <form @submit.prevent="onSubmit">
          <div class="form-login__input">
            <InputForm
              label="Usuario"
              type="text"
              field="user"
              @input-change="cambio($event)"
            />
            <div
              v-if="submitted && v$.user.user.$invalid"
              class="invalid-class"
            >
              Ingrese un usuario
            </div>
          </div>
          <div class="form-login__input">
            <InputForm
              label="Contraseña"
              type="password"
              field="password"
              @input-change="cambio($event)"
            />
            <div
              v-if="submitted && v$.user.password.$invalid"
              class="invalid-class"
            >
              Ingrese una contraseña
            </div>
          </div>

          <div class="form-login__btn">
            <ButtonForm text="INICIAR" />
          </div>
          <div class="form-login__recovery">
            <router-link to="/forgot-password"
              >Olvide mi contraseña</router-link
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ButtonForm from "@/components/ButtonForm";
import InputForm from "@/components/InputForm";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import axios from "axios";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  name: "Home",
  data() {
    return {
      user: {
        user: "",
        password: "",
      },
      submitted: false,
      message: "",
      status: true,
    };
  },
  validations() {
    return {
      user: {
        user: { required },
        password: { required },
      },
    };
  },
  components: { ButtonForm, InputForm },
  methods: {
    cambio(e) {
      this.user[e.type] = e.value;
    },
    onSubmit() {
      this.submitted = true;
      this.v$.$touch();
      console.log("presionado", this.v$.user.user.$invalid);
      if (this.v$.$invalid) {
        console.log(this.v$);
        return;
      }
      axios
        .post("https://back-vercel.vercel.app/users/login", this.user, {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        })
        .then((r) => {
          const response = r.data;
          this.status = response.status;
          if (response.status) {
            localStorage.setItem("token", response.token);
            localStorage.setItem("isLogged", true);
            localStorage.setItem("user", response.user);
            return this.$router.push("/user");
          } else {
            this.message = "Ingrese las credenciales corectas";
            setTimeout(() => {
              this.message = "";
              this.submitted = false;
            }, 3000);
            return;
          }
        });
    },
  },
};
</script>
<style lang="scss">
.home-container {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 21%, #b721ff 83%);

  height: 100vh;
  width: 100%;
  .main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-login {
      background-color: #fbfbfb;
      border-radius: 10px;
      width: 380px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 40px;
      form {
        height: 100%;
        width: 100%;
      }
      &__input {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 35px;
        input {
          background: transparent;
          width: 100%;
          border: none;
          border-bottom: 2px solid #c1c1c1;
          display: block;
          outline: 0;
        }
        label {
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-weight: normal;
          pointer-events: none;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }
      }
      &__btn {
        button {
          background-color: #ee74e1;
          border: none;
          border-radius: 15px;
          width: 100%;
          height: 40px;
          font-weight: bold;
          color: white;
          margin-top: 45px;
          cursor: pointer;
          outline: 0;
          &:hover {
            background-color: #f545e3;
          }
        }
      }
      &__recovery {
        text-align: right;
        margin-top: 30px;
        a {
          color: black;
        }
      }
    }
  }
}
.invalid-class {
  background-color: rgba(233, 86, 86, 0.687);
  border-radius: 3px;
  margin: 10px 0 0 0;
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: all 0.2s;
}
.valid-class {
  background-color: rgba(58, 174, 62, 0.687);
  border-radius: 3px;
  margin: 10px 0 0 0;
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: all 0.2s;
}
</style>
