<template>
  <div class="home-container">
    <div class="main-container">
      <div class="form-login">
        <h1>Recupera tu contraseña</h1>

        <form @submit.prevent="onSubmit">
          <div class="form-login__input">
            <InputForm label="Email" type="email" field="email" @input-change="cambio($event)" />
            <div
              v-if="submitted && v$.email.$invalid"
              class="invalid-class"
            >Ingrese un correo válido</div>
          </div>

          <div class="form-login__btn">
            <ButtonForm text="RECUPERAR" />
          </div>
          <div class="form-login__recovery">
            <router-link to="/">Regresar</router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ButtonForm from "@/components/ButtonForm";
import InputForm from "@/components/InputForm";
import useVuelidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
// import axios from "axios";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      email: "",
      submitted: false,
      message: "",
      status: true,
    };
  },
  validations() {
    return {
      email: { required, email },
    };
  },
  components: { ButtonForm, InputForm },
  methods: {
    cambio(e) {
      this.email = e.value;
    },
    onSubmit() {
      this.submitted = true;
      this.v$.$touch();
      if (this.v$.$invalid) {
        this.message = "Ingrese un correo válido";
        setTimeout(() => {
          this.message = "";
          this.submitted = false;
        }, 3000);
        return;
      } else this.$router.push("/update-password");
    },
  },
};
</script>
<style lang="scss"></style>
