<template>
  <div class="home-container">
    <div class="main-container">
      <div class="form-login">
        <h1>Recupera tu contraseña</h1>
        <div
          v-if="submitted && pass.password !== pass.repeatPassword"
          class="invalid-class"
        >{{ message }}</div>
        <div v-if="submitted && sameAs" class="valid-class">{{ message }}</div>
        <form @submit.prevent="onSubmit">
          <div class="form-login__input">
            <InputForm
              label="Nueva contraseña"
              type="password"
              field="password"
              @input-change="cambio($event)"
            />
            <div
              v-if="submitted && v$.pass.password.$invalid"
              class="invalid-class"
            >Este es un campo obligatorio</div>
          </div>
          <div class="form-login__input">
            <InputForm
              label="Repetir contraseña"
              type="password"
              field="repeatPassword"
              @input-change="cambio($event)"
            />
            <div
              v-if="submitted && v$.pass.repeatPassword.$invalid"
              class="invalid-class"
            >Este es un campo obligatorio</div>
          </div>

          <div class="form-login__btn">
            <ButtonForm text="ACTUALIZAR" />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ButtonForm from "@/components/ButtonForm";
import InputForm from "@/components/InputForm";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
// import axios from "axios";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      pass: {
        password: "",
        repeatPassword: "",
      },
      submitted: false,
      message: "",
      sameAs: false,
    };
  },
  validations() {
    return {
      pass: {
        password: { required },
        repeatPassword: {
          required,
        },
      },
    };
  },
  components: { ButtonForm, InputForm },
  methods: {
    cambio(e) {
      this.pass[e.type] = e.value;
    },
    onSubmit() {
      this.submitted = true;
      this.v$.$touch();

      if (this.v$.$invalid) {
        this.message = "Ingrese un correo válido";
        setTimeout(() => {
          this.message = "";
          this.submitted = false;
        }, 3000);
        return;
      } else {
        if (this.pass.password !== this.pass.repeatPassword) {
          this.message = "Las contraseñas no coinciden";
          setTimeout(() => {
            this.message = "";
            this.submitted = false;
          }, 3000);
        } else {
          this.sameAs = true;
          this.message = "contraseña actualizada";
          setTimeout(() => {
            this.$router.push("/");
          }, 3000);
        }
      }
    },
  },
};
</script>
<style lang="scss"></style>
