<template>
  <div class="home-container">
    <div class="main-container">
      <div class="form-login">
        <h3>Hola {{ nombre }} has iniciado sesión.</h3>
        <div class="form-login__btn">
          <button @click="closeSession">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "User",
  data() {
    return {
      nombre: "",
    };
  },
  mounted() {
    if (
      localStorage.getItem("user") != "" &&
      localStorage.getItem("user") != undefined
    ) {
      this.nombre = localStorage.getItem("user");
    } else {
      this.$router.push("/");
    }
  },
  methods: {
    closeSession() {
      localStorage.clear();
      this.$router.push("/");
    },
  },
};
</script>
<style lang="scss">
.home-container {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 21%, #b721ff 83%);

  height: 100vh;
  width: 100%;
  .main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-login {
      background-color: #fbfbfb;
      border-radius: 10px;
      width: 380px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 40px;
      form {
        height: 100%;
        width: 100%;
      }
      &__input {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 35px;
        input {
          background: transparent;
          width: 100%;
          border: none;
          border-bottom: 2px solid #c1c1c1;
          display: block;
          outline: 0;
        }
        label {
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-weight: normal;
          pointer-events: none;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }
      }
      &__btn {
        width: 100%;
        button {
          background-color: #ee74e1;
          border: none;
          border-radius: 15px;
          width: 100%;
          height: 40px;
          font-weight: bold;
          color: white;
          margin-top: 45px;
        }
      }
      &__recovery {
        text-align: right;
        margin-top: 30px;
        a {
          color: black;
        }
      }
    }
  }
}
</style>
