<template>
  <div>
    <label for>{{ label }}</label>
    <input v-model="valor" @change="handleChange" :type="type" />
  </div>
</template>
<script>
export default {
  props: ["label", "type", "field"],
  data() {
    return {
      valor: "",
    };
  },
  methods: {
    handleChange() {
      this.$emit("input-change", { value: this.valor, type: this.field });
    },
  },
};
</script>
