<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </div>-->
  <!-- <router-view /> -->
  <div class="app-container">
    <router-view />
  </div>
</template>

<style>
@import "../src/assets/styles/general.scss";
.app-container {
  min-height: 100vh;
  width: 100%;
}
</style>
